@font-face {
    font-family: 'outfit-regular';
    src: url('./assets//fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'young-serif';
    src: url('./assets//fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}
:root {
    --beige: #F1E7d8;
    --redbrown: rgb(141, 42, 42);
    --grey: rgb(88, 88, 88);
    --lightpink: rgba(252, 228, 236, 0.4);
    --raduis: 15px;
}
body {
    background-color: var(--beige);
}
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7% auto;
    width: 50%;
    background-color: white;
    border-radius: var(--raduis);
    font-family: 'outfit-regular';
}
img {
    width: 100%;
    height: 80%;
    margin: auto;
    border-radius: var(--raduis);
}
h1, h2 {
    font-family: 'young-serif-regular';
}
h2 {
    color: var(--redbrown);
}
p {
    font-size: 14px;
    color: var(--grey);
}
.preparation {
    background-color: var(--lightpink);
    padding-left: 10px;
    border-radius: 8px;
}

/* #region List */
li span {
    padding-left: 16px;
    color:black;
    font-size: small;
    display: block;
}
li {
    margin-bottom: 12px;
    font-size: x-small;
}
/* #endregion */

/* #region Table */
tr {
    border-bottom: 1px solid;
}
td {
    padding: 10px;
}
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
.table-values {
    color: var(--redbrown);
    font-weight: bold;
}
/* #endregion */

/* #region Copyright */
.copyright {
    font-size: 12px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}
.copyright div {
    border: 1px solid grey;
    display: inline;
}
/* #endregion */